HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### MVN ###
.mvn/
mvnw.cmd
mvnw

### DOCKER ###
mysql_data/
docker-compose.yml

### OTHER ###
hidden/
